
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
  background-color: white;
}
 
body {
  background-color: powderblue;
  width: 1000px;
  border: 2px solid rgb(24, 49, 45);
  padding: 0px 20px 20px 20px;
  margin: auto;
  
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #77d1ab;  /* Fuchsia */
	text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  align: center;
}


table {
	border: 1px solid black;
	background-color: #f1f1c1;
}

/* Defining styling for a specific element type - each question */
.question {
  background-color: rgb(56, 90, 87);
  color: white;
  margin: 20px;
  padding: 20px;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  border: none;
  background-color: #66ffde;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: black;
  font-style: italic;
  font-size: 75%;
}


.radiobtn ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.radiobtn li
{
    float: left;
    text-align: left;
    list-style-type: none;
}

h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}